.login {
    background-color: #d8d3d3;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login__container{
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.12);
}

.login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 25px;
}

.login__container > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #1c1d1c !important;
    color: #f8f8f8;
}  